{{input value=location id=location }}
<button {{action 'sendRequestToService' model}}>request in service</button>
{{#if isShowes}}
  <h1>yelpResult.total</h1>
{{/if}}
<p>
  <!-- {{log model}} -->
</p>
