<div class="venue__img">
  <div class="venue__title">
    <h1>This is a BAR1</h1>
    <h3>Neighborhood</h3>
  </div>
  <h4>3.4</h4>
</div>
<div class="venue__info">
  <h3>Cuisines:</h3>
  <h3>Info here.</h3>
  <i class="fa fa-star"></i>
</div>
