{{#each yelpApi.yelpResult as |business|}}
  <div class="card--big">
    <div class="card__img"></div>
    <div class="card__text">
      <h4>Pip's Doughnuts</h4>
      <h5> Address 1234 St Portland Or</h5>
      <p>
        Today only....get a bunch of doughnuts.
      </p>
    </div>
  </div>
{{/each}}
