<section class="home">
  <video autoplay loop muted id="bgvid">
    <source src="img/video.mp4" type="video/mp4">
    </video>
<h1>Week&</h1>
<h3>Let's plan your perfect night</h3>
<form>
  {{input value=location id=location placeholder="What's your location?"}}
  <button {{action 'getLocation'}}>Search!</button>

</form>

</section>
