
.map {
  @include align-items($flex-flow: column nowrap);
  @include e("header") {
    @include bg-img("../img/drinks.jpg");
    @extend %page-header;
    margin-bottom: 2em;
    @include container(100%, 250px);
  }
  @include e("google") {
    border: 1px solid black;
    @include container(100%, 500px);
  }
  @include e("footer") {
    @include container(100%, auto);
    padding: 1em 0 ;
    @include align-items($flex-flow: column nowrap);
    @media screen and (min-width: 768px ){
      @include align-items();
      .venue {
        @extend %mapvenue--md;
        @extend %mapvenue--bg;
        margin-bottom: 0;
      }
    }
    overflow-x: scroll;
    @media screen and (min-width: 768px){
      overflow-y: hidden;
    }
    &::-webkit-scrollbar {
}

  }
}
