
.category{
  margin: 1em auto;
  font-family: $bold-font-stack;
}
.map {
  @include align-items(flex-start, center ,row wrap);
  padding-bottom: 0;
  @include e("google") {
    // MAP GOES HERE
    border: 1px solid black;
    @include container(100%, 50vh);
    // margin: 1em 0;
  }
  @include e("footer") {
    // THIS INCLUDES THE VENUE CARDS
    .slick-prev, .slick-next {
      align-self: center;
      font-size: 1.3em;
      font-weight: bold;
      padding: .5em;
      border: none;
      background-color: transparent;
      color: $text-color;
      border-radius: 50%;
    }
    @include container(100%, 250px);
    @include align-items($flex-flow: row nowrap);
    @media screen and (min-width: 600px ){
      @include align-items();
      .venue {
        @extend %shadow;
        @extend %mapvenue--md;
        @extend %mapvenue--bg;
        margin-bottom: 0.7em;
      }
    }
  }
}

#spin {
  margin: auto;
  margin-top: 3em;
  @extend %button-search;
  border-radius: 10px;
}
