// -----------------------------------------------------------------------------
// This file contains styling for ASIDE
// -----------------------------------------------------------------------------
.content {
  flex:1;
  @include align-items();
  width: 100%;
  background: $light-grey;
  padding: 1em;
}

.aside {
  @include container(25%, 100%);
  padding: 0 0 1em 2em;
  order: 1;
  @media screen and (max-width: 768px){
    display: none;
  }
  @include e("header") {
    // @include container(100%, 400px);
    @include align-items(flex-end, center, $flex-flow: column nowrap);
    text-align: center;
    h1 {
      font-size: 1.3em;
      line-height: 2;
      font-family: $bold-font-stack;
    }
    ul {
      margin: 1em auto;
      font-weight: bolder;
    }
  }
  @include e("content") {
  text-align: center;
  }

  @include e("drop") {
    @include container(100%, 162.5px);
    border: 1px solid blue;
    margin-top: 1em;
    @include e("info"){
      @include container(100%, auto, 0.5em)
      @include align-items(space-between, center);
      // h3{
      //   display: inline;
      // }
    }
  }
  .venue {
    @include container(100%, 100%);
    h4, .venue__info{
      display: none;
    }
    @include e("img") {
      height: 100%;
      @include align-items(center, center);
    }
  }
}
