// -----------------------------------------------------------------------------
// This file contains styling for ASIDE
// -----------------------------------------------------------------------------
.content {
  height: 100%;
  @include align-items(flex-start, flex-start, row nowrap);
  width: 100%;
  padding-bottom: 1em;
}

.aside {
  @include container(30%, 100%, 1em);
  order: 1;
  @media screen and (max-width: 767px){
    display: none;
  }
  @include e("header") {
    @include container(100%, 50vh, 1em);
    @include align-items(space-between, center, $flex-flow: column nowrap);
    text-align: center;
    h1 {
      font-size: 1.3em;
      line-height: 1;
      font-family: $bold-font-stack;
    }
    @include e("icon"){
      @include container(auto, 175px);

      // @media screen and (min-width: 1250px) {
      //   @include container(80%, 225px);
      //
      // }
    }
    ul {
    margin: 1em auto;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 1.2;
      font-family: $bold-font-stack;
    }
  }
  @include e("content") {
  text-align: center;
    button {
      @extend %button-search;
      margin: 3em auto;
    }
  }

// THIS IS WHERE THE CARDS ARE DROPPED INTO
  @include e("drop") {
    @include container(100%, 250px);
    border: 1px solid black;
    margin-bottom: 1em;
    @include e("info"){
      @include container(100%, auto, 0.5em)
      @include align-items(space-between, center);
    }
  }
  // THIS IS THE CARD THAT IS MODIFIED FOR ASIDE
  .venue {
    @extend %shadow;
    @include container(100%, 100%);
    h4, .venue__info{
      display: none;
    }
    @include e("img") {
      height: 100%;
      @include align-items(center, center);
    }
  }
}
