// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$header-height: 75px;
///Nav height will effect the logo height ///
.nav {
  border-bottom: 1px solid $text-color;
  @include align-items(space-between, center);
  @include e("brand") {
    @extend %nav-brand;
    animation-name: colorbrand;
    animation-duration: 4s;
  }
  @include e("links") {
    @include align-items(space-between, center);
    @include container(auto);
    a{
      margin-left: 1em;
    }
  }
  @include container(100%, 75px, 1em);
  @media screen and (min-width: 600px) {
    height: 100px;
  }
  // @include container(100%, 150px, 1em);
}

@-webkit-keyframes colorbrand {
    25%  {color: $mint-green;}
    50%  {color: $green-complement;}
    100% {color: $brand-color;}
}
