// -----------------------------------------------------------------------------
// This file contains all styles related to the middle of the HOME page of the site/application.
// -----------------------------------------------------------------------------

.home {
  flex: 1;
  @include align-items(center, center, column nowrap);
  @include container();
  color: black;
  h1 {
    font-size: 4em;
    font-family: $bold-font-stack;
  }
  h3 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
  input {
    @include container(50%, 40px);
  }
  button {
    @extend %button-search;
  }
}

//////creates a background image with opacity////

.home::after {
  content: "";
  @include bg-img("../img/home-background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
