// -----------------------------------------------------------------------------
// This file contains all styles related to the middle of the HOME page of the site/application.
// -----------------------------------------------------------------------------

.home {
  @include align-items(center, center, column nowrap);
  @include container(100%, calc(100vh - 175px));
  color: black;
  h1 {
    font-size: 4em;
    font-family: $bold-font-stack;
    span {
      color: $text-color;
    }
  }
  h3 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
  form {
    @include container(75%, auto);
    @media screen and (min-width: 1024px) {
      @include container(50%, auto);
    }
  }
  input {
    @include container(75%, 40px);
  }
  button {
    @extend %button-search;
    margin-top: 1em;
    background-color: $mint-green;
    width: 20%;
  }
}
