///Gives spacing to the right in top navbar///
%nav-right {
  align-self: flex-end;
  padding-right: 1em;
}

///Logo for Navbar on top left of home page///
%nav-brand {
  font-family: $bold-font-stack;
  font-size: 4em;
}

///Button for home page search///
%button-search {
  @include container(150px, 40px);
  margin-top: 1em;
  border: none;
  background-color: $mint-green;
}

%row{

}

%card {
  height: 100%;
  padding: .5em;
  @include align-items(flex-start, center, row nowrap);
  lost-column: 1/1;
  border: 1px dotted black;
  height: 200px;
}

%card-small{
  @extend %card;
  @media screen and (min-width: 767px){
    lost-column: 1/2 0 0;
  }
}

%card-big{
  @extend %card;
  @media screen and (min-width: 767px){
    lost-column: 1/1 0 0;

  }
}

%card-tall{

}

%card-img {
  border: 1px dotted black;
  lost-column: 1/2 0 0;
  @include bg-img("../img/pips.jpg");
  height: 100%;
}

%card-text{
  text-align: center;
  font-size: 0.8em;
  lost-column: 1/2 0 0;
  height: 100%;
  @include align-items(space-between, center, column nowrap);
}
