///Gives spacing to the right in top navbar///
%nav-right {
  align-self: flex-end;
  padding-right: 1em;
}

///Logo for Navbar on top left of home page///
%nav-brand {
  width: auto;
  height: 125px;
  padding: 20px 25px;
}

///Button for home page search///
%button-search {
  @include container(150px, 40px);
  margin-top: 1em;
  border: none;
  background-color: $mint-green;
}
