///Gives spacing to the right in top navbar///
%nav-right {
  align-self: flex-end;
  padding-right: 1em;
}

///Logo for Navbar on top left of home page///
%nav-brand {
  font-family: $bold-font-stack;
  font-size: 4em;
}

///Button for home page search///
%button-search {
  @include container(150px, 40px);
  margin-top: 1em;
  border: none;
  background-color: $mint-green;
}

////page header

%page-header {
  @include align-items(center, center, column nowrap);
  h1 {
  font-family: $bold-font-stack;
  font-size: 3.5em;
  color: white;
  }
  h3 {
    font-size: 1.5em;
    color: white;
  }
}



%row{
 width: 100%;
 // height: 300px;
 @include align-items(flex-start, flex-start, row wrap);
}

%venue__img{
  @include bg-img("../img/pips.jpg");
  @include align-items(flex-end, flex-start, column wrap);
  @include container(100%, 60%, 0.5em);
  color: white;
  h1 {
    font-size: 1.5em;
  }
  h4 {
    align-self: flex-end;
    background: green;
    border-radius: 50%;
    padding: 0.5em;
  }
}

%venue--half{
  @media screen and (min-width: 1024px){
    lost-column: 1/2 2 1em;
  }
}

%venue--quarter{
  @media screen and (min-width: 1024px){
    lost-column: 1/4 4 1em;
  }
}

.venue {
  height: 250px;
  lost-column: 1/1;
  margin-bottom: 1em;
  @media screen and (min-width: 600px){
    lost-column: 1/2 0 1em;
  }
  border: 1px solid black;
  @include align-items($flex-flow: column nowrap);
  @include e('img') {
    @extend %venue__img;
  }
  @include e('info') {
    @include align-items(center, flex-start, column nowrap);
    @include container(100%, 40%, 0.5em);
  }
}
