
  <nav class="nav">
    <a class="nav__brand" href="#">&</a>
    <div class="nav__links">
      <a href="#">Inspiration</a>
      <a href="#">Log in</a>
    </div>
  </nav>

  {{outlet}}

<footer>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
</footer>
