<br>
{{modal-next-steps updateRequestFromModal="updateRequestFromModal"}}
{{google-map}}

<!-- Contet starts here -->
{{log yelpApi.yelpResult}}
{{#each yelpApi.yelpResult as |business|}}
  <p>
    {{business.display_phone}}
  </p>
{{/each}}
