
<!-- <section class="home"> -->
  {{welcome-page getLocation="getLocation"}}
<!-- </section> -->
<!-- <section class="home">
  <h1>Week&</h1>
  <h3>Let's plan your perfect night</h3>
  {{input value=location id=location placeholder="What's your location?"}}
  <button {{action 'getLocation'}} name="button">Search!</button>
</section> -->
