
<br>
{{google-map}}
<br>
<!-- Contet starts here -->

{{log yelpApi.yelpResult}}
{{#each yelpApi.yelpResult as |business|}}
  <p>
    {{business.display_phone}}
  </p>
{{/each}}

{{drag-test-area model=model}}
