<section class="topPicks">
  <header class="topPicks__header">
    <h1>Top Picks</h1>
    <h3>Our daily suggestions for the night</h3>
  </header>
    {{toppicks-card}}
</section>

{{!modal-next-steps updateRequestFromModal="updateRequestFromModal" meetupRequestToService="meetupRequestToService"}}
